li{
    list-style: none;
}
img{
    width: 100%;
    height: 450px;
    
}
.food{
    width: 45%;
    background-color: white;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.23);;
    margin-bottom: 25px;
    
}
.detail{
    text-align: center;
    padding: 5px 10px;
    color: #00bcd4;
    font-size: 130%;
}
footer{
    padding: 30px 90px 40px 90px;
    
}