body {
    padding: 0;
    margin: 0;
    background-color: #dfdde6;
    
}
#nav-bar{
    
    background-color: aliceblue;
    color: #444444;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.13);
}
#nav-bar>div{
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-bar ul{
    display: flex; 
    list-style: none;   
    
}
#nav-bar a{
    color: #444444;
    text-decoration: none;
    margin-left: 25px;
    cursor: pointer;
}

#nav-bar>div>span{
    display: flex;
    font-size: 1.5rem;

}

.all-menus{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin: 0 auto;
    padding: 1rem 0;
    justify-content: space-between;
    
}
.all-menus>div{
    flex: 0 45%;
}
.food{
    width: 40%;
    height: 100%;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.23); 
    padding: 20px;
    box-sizing: border-box;
    background-color: aliceblue;
    margin-top: 1rem;
    
    
}
.detail{
    text-align: center;
    color: #00bcd4;
    font-size: 130%;
}
.food img{
    width: 100%;
    height: 15rem;
    object-fit: cover;
    transition-duration: 1s;
}

.food img:hover{
    transform: scale(1.2);
}

.food>div{
    clip-path: polygon(0% 0%, 0% 15rem, 100% 15rem, 100% 0%);
}
footer{
    padding: 30px 90px 40px 90px;
    display: flex;
    justify-content: space-around;
    background-color: #979595;
    color: aliceblue;
}

footer ul {
    justify-content: space-between;
}

footer li {
    display: inline-flex;
}

.social img {
    width: 1.3rem;
    border: 1px solid aliceblue;
    border-radius: 50%;
    padding: .4rem;
}

footer input {
    margin: .75em;
}

@media screen and(min-width:200px){
    
}